body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/images/Sports.png");
}
#canvas {
  background-image: url("../assets/images/blue-snow.png");
  background-size: cover;
  background-position: center;
}
