<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- <link href="./assets/favicon.ico" rel="icon"> -->

  <title>Activities</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link href="./static/main.a3f694c0.css" rel="stylesheet">
  <link href="./static/style.css" rel="stylesheet">
  

</head>

<body>

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-uarr">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand site-logo" href="./index.html" title="">
          <img src="./assets/images/mashuptemplate.svg" class="navbar-logo-img" alt="logo">
        </a>
      </div>
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-uarr">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./index.html" title="" class="active">Home</a></li>
          <li><a href="./activity.html" title="" class="active">Activities</a></li>
          <li><a href="./roadmap.html" title="" class="active">Road Map</a></li>
          <li>
            <p>
              <a href="https://fitspirit.ca/" target="_blank" class="btn btn-primary navbar-btn" title="">Learn More</a>
            </p>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
        <div class="row section-container-spacer">
            <div class="col-xs-12" id="toggle">
                <div class="col-md-8">
                    <h1>Our activities</h1>
                </div>
                <div class="col-md-8">
                  <div class="button-group">
                    <input type="checkbox" class="cardfilter" id="school" onclick="filterCards('school')" autocomplete="off">
                    <label class="custom-btn" for="school">School</label>

                    <input type="checkbox" class="cardfilter" id="group" onclick="filterCards('group')" autocomplete="off">
                    <label class="custom-btn" for="group">Group</label>

                    <input type="checkbox" class="cardfilter" id="individual" onclick="filterCards('individual')" autocomplete="off">
                    <label class="custom-btn" for="individual">Individual</label>

                    <input type="checkbox" class="cardfilter" id="equipment" onclick="filterCards('equipment')" autocomplete="off">
                    <label class="custom-btn" for="equipment">Equipments</label>
                  </div>
                </div>
            </div>
            <div class="quote-container" id="quote-container">
              <!-- Quote -->
              <div class="quote-text">
                  <i class="fas fa-quote-left">
                      <span id="quote">
                      </span>
                  </i>
              </div>
              <!-- Author -->
              <div class="quote-author">
                  <span id="author">
                  </span>
              </div>
              <!-- Buttons
              <div class="button-container">
                  <button class="twitter-button" id="twitter" title='Tweet this!'>
                      <i class="fab fa-twitter"></i>
                  </button>
                  <button id="new-quote">New Quote</button>
              </div> -->
            </div>
        </div>

        <div class="row main-container">
            <div class="cards">
              <div class="card card-1 school">
                <p class="card__exit"></p>
                <a href="#" class="tag">School</a>
                <div class="card_header">
                  <button class="custom-btn attend" onclick="triggerActivity(this)">Start your 1st session</button>
                  <h2 class="card__title">Zumba</h2>
                </div>
                <div class="img_div">
                  <img class="card_img" src="./assets/images/zumba.jpeg" alt="zumba">
                </div>
              </div>
              <img id="myImg" src="./assets/images/finish.png" style="width:100%;max-width:300px;display: none">

              <div class="card card-2 individual">
                <p class="card__exit"></p>
                <p>
                  <button class="custom-btn attend">Attend</button>
                </p>
                <h2 class="card__title">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
                
              </div>
              <div class="card card-3 individual equipment">
                <p class="card__exit"></p>
                <p>
                  <button class="custom-btn attend">Attend</button>
                </p>
                <h2 class="card__title">Ut enim ad minim veniam.</h2>
                
              </div>
              <div class="card card-4">
                <p class="card__exit"></p>
                <p>
                  <button class="custom-btn attend">Attend</button>
                </p>
                <h2 class="card__title">Quis nostrud exercitation ullamco laboris nisi.</h2>
                
              </div>
              <div class="card card-5">
                <p class="card__exit"></p>
                <p>
                  <button class="custom-btn attend">Attend</button>
                </p>
                <h2 class="card__title">Ut aliquip ex ea commodo consequat. Duis aute irure dolor.</h2>
                
              </div>
              <div class="card card-1">
                <p class="card__exit"></p>
                <p>
                  <button class="custom-btn attend">Attend</button>
                </p>
                <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                
              </div>
            </div>
        </div>
    </div>
</div>  


<footer>
  <div class="section-container footer-container">
      <div class="container">
          <div class="row">
                  <div class="col-md-4">
                      <h4>About us</h4>
                      <p>FitSpirit  is a Quebec-based, not-for-profit whose mission is to encourage teenage girls to be physically active throughout their lives, by offering a unique set of tools and resources for schools with girls 12 to 17 years old.</p>
                  </div>

                  <div class="col-md-4">
                      <h4>Do you like ? Share this !</h4>
                      <p>
                          <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                          <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                      </p>
                  </div>
          </div>
      </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>

<script type="text/javascript" src="./static/main.41beeca9.js"></script></body>
<script type="text/javascript" src="./static/script.js"></script></body>
<script type="text/javascript" src="./static/quote.js"></script></body>
</html>